.filter_container {
  background: #fff;
  position: sticky;
  top: 110px;
  /* height: 87vh;
  overflow: auto; */
}

.hamburger {
  display: none;
}
.productFilters h6 {
  font-size: 20px;
  font-weight: 400;
  color: #4a4d5f;
}

@media only screen and (max-width: 1000px) {
  .filter_container {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    min-height: 87vh;
    transition: all 0.5s ease-out;
  }
  .hamburger {
    display: block;
  }
  .open {
    left: 0;
  }
}
.color_box{
  color: brown;
  
}

.changecolor{
  /* background-color: lawngreen; */
  color:lawngreen;
  font-size: 0;
  text-indent: -999999em;
  background: linear-gradient(
    to right, 
    #18db38 0%, 
    #18db38 50%, 
    #000000 50%, 
    #000000 100%
  );
}
input.Colour[type="checkbox"] {
  display:none;
}

input.Colour[type="checkbox"] + label {
  color:#f2f2f2;
  border: 1px solid #e2e2e2;
  display: inline-block;
  padding: 0px 2px;
}

input.Colour[type="checkbox"] + label span.safety_color1 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:white;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color1 {
  background:white url(../../assets/check_sheet.png) -19px top no-repeat;
}
input.Colour[type="checkbox"] + label span.safety_color2 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:red;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color2 {
  background:red url(../../assets/check_sheet.png) -19px top no-repeat;
}
input.Colour[type="checkbox"] + label span.safety_color3 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:blue;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color3 {
  background:blue url(../../assets/check_sheet.png) -19px top no-repeat;
}
input.Colour[type="checkbox"] + label span.safety_color4 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:linear-gradient( to right, #000000 0%, 
  #000000 50%, 
  #808080 50%, 
  #808080 100%
);
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color4 {
  background:url(../../assets/check_sheet.png) -19px top no-repeat, linear-gradient( to right, #000000 0%, 
    #000000 50%, 
    #808080 50%, 
    #808080 100%
  );
}
input.Colour[type="checkbox"] + label span.safety_color5 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:silver;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color5 {
  background:silver url(../../assets/check_sheet.png) -19px top no-repeat;
}

input.Colour[type="checkbox"] + label span.safety_color6 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:linear-gradient(
    to right, 
    #C0C0C0 0%, 
    #C0C0C0 50%, 
    #000000 50%, 
    #000000 100%
  );
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color6 {
  background:url(../../assets/check_sheet.png) -19px top no-repeat, linear-gradient(
    to right, 
    #C0C0C0 0%, 
    #C0C0C0 50%, 
    #000000 50%, 
    #000000 100%
  );
}

input.Colour[type="checkbox"] + label span.safety_color7 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:white;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color7 {
  background:white url(../../assets/check_sheet.png) -19px top no-repeat;
}

input.Colour[type="checkbox"] + label span.safety_color8 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:black;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color8 {
  background:black url(../../assets/check_sheet.png) -19px top no-repeat;;
}
input.Colour[type="checkbox"] + label span.safety_color9 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:linear-gradient(
    to right, 
    #000000 0%, 
    #000000 50%, 
    #FFA500 50%, 
    #FFA500 100%
  );
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color9 {
  background:url(../../assets/check_sheet.png) -19px top no-repeat, linear-gradient(
    to right, 
    #000000 0%, 
    #000000 50%, 
    #FFA500 50%, 
    #FFA500 100%
  );
}
input.Colour[type="checkbox"] + label span.safety_color10 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:linear-gradient(
    to right, 
    #000000 0%, 
    #000000 50%, 
    #FFA500 50%, 
    #FFA500 100%
  );
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color10 {
  background:url(../../assets/check_sheet.png) -19px top no-repeat, linear-gradient(
    to right, 
    #000000 0%, 
    #000000 50%, 
    #FFA500 50%, 
    #FFA500 100%
  );
}
input.Colour[type="checkbox"] + label span.safety_color11 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:linear-gradient(
    to right, 
    #000000 0%, 
    #000000 50%, 
    #00FF00 50%, 
    #00FF00 100%
  );
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color11 {
  background:url(../../assets/check_sheet.png) -19px top no-repeat, llinear-gradient(
    to right, 
    #000000 0%, 
    #000000 50%, 
    #00FF00 50%, 
    #00FF00 100%
  );
}

input.Colour[type="checkbox"] + label span.safety_color12 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:linear-gradient(
    to right, 
    #000000 0%, 
    #000000 50%, 
    #ff0000 50%, 
    #ff0000 100%
  );
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color12 {
  background:url(../../assets/check_sheet.png) -19px top no-repeat, linear-gradient(
    to right, 
    #000000 0%, 
    #000000 50%, 
    #ff0000 50%, 
    #ff0000 100%
  );
}

input.Colour[type="checkbox"] + label span.safety_color13 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:yellow;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color13 {
  background:yellow url(../../assets/check_sheet.png) -19px top no-repeat;
}

input.Colour[type="checkbox"] + label span.safety_color14 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:white;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color14 {
  background:white url(../../assets/check_sheet.png) -19px top no-repeat;
}

input.Colour[type="checkbox"] + label span.safety_color15 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:brown;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color15 {
  background:brown url(../../assets/check_sheet.png) -19px top no-repeat;
}

input.Colour[type="checkbox"] + label span.safety_color16 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:grey;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color16 {
  background:grey url(../../assets/check_sheet.png) -19px top no-repeat;
}

input.Colour[type="checkbox"] + label span.safety_color17 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:skyblue;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color17 {
  background:skyblue url(../../assets/check_sheet.png) -19px top no-repeat;
}

input.Colour[type="checkbox"] + label span.safety_color18 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:navy;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color18 {
  background:navy url(../../assets/check_sheet.png) -19px top no-repeat;
}
input.Colour[type="checkbox"] + label span.safety_color19 {
  display:inline-block;
  width:19px;
  height:19px;
  
  vertical-align:middle;
  background:yellow;
  cursor:pointer;
}

input.Colour[type="checkbox"]:checked + label span.safety_color19 {
  background:yellow url(../../assets/check_sheet.png) -19px top no-repeat;
}
input.Colour[type="checkbox"]:checked + label span.inp_val, 
input.Colour[type="checkbox"] + label span.inp_val {
  display: none;
}
.productFilters div.Colour.my-3 .text-sm.items-center {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  float: left;
  margin-right: 5px;
}
.productFilters input.mx-2{
  margin-left: 0rem!important;
}